body {
     	background:url("https://github.com/Rgreen192/RiseUpandRefresh/blob/main/images/RiseUp.jpg") left top repeat-y,url("/images/RiseUp.jpg") right top repeat-y;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 15px;
}

h2, caption {
  font-size: 1.5rem;
  margin-top: 0;
}

address {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.center-table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 15px;
}

h1, h2, h3, p, address {
  text-align: center;
}


.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
}


ul {
  margin-bottom: 10px;
  list-style-position: inside;
  break-inside: avoid;  
  padding: 5px 0;
}

li {
  margin-bottom: 0.7rem;
}

hr {
  height: 2px;
  background-color: #e10000;
  border-color: #e10000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2 {
  font-family: Impact, serif;
}

.flavorings {
  columns: 2;              
}
.milk {
  columns: 1;              
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

a {
  color: #e10000;
}

a:visited {
  color: black;
}

a:hover {
  color: #e10000;
}

a:active {
  color: #e10000;
}
