body {
     	background:url(".//riseUp.jpg") left top repeat-y,url(".//riseUp.jpg") right top repeat-y;

}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2, caption {
  font-size: 30px;
}

.established {
  font-style: italic;
}


h1, h2, h3, p, address {
  text-align: center;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
}

li {
  margin-bottom: 10px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.flavorings {
  column-count: 2;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

a {
  color: brown;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
